// GENERAL CLASSES USED FOR FORMATTING ELEMENTS AND TYPE


/* -------------------- GLOBAL CLASSES -------------------- */
.wrapper {
	@include settings(relative, hidden);
	margin: 0 auto;
	//width: 1200px;
	width: 100%;
	max-width: 1000px;
}
.frame {
	@include settings(null, null, table);
	width: 100%;
	height: 100% !important;
}
.row {
	@include settings(null, hidden, table-row);
	height: 1px;
	&.expand {
		height: auto !important;
	}
}
.cell {
	@include settings(null, null, table-cell);
}


/* -------------------- ELEMENT POSITION STYLES -------------------- */
.fixed {
	position: fixed !important;
}
.relative {
	position: relative !important;
}
.absolute {
	position: absolute !important;
}
.left {
	@include settings(relative, null, null, left);
}
.right {
	@include settings(relative, null, null, right);
}
.center {
	@include settings(relative);
	margin-left: auto;
	margin-right: auto;
}


/* -------------------- TYPOGRAPHIC STYLES -------------------- */
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.hide-text {
	text-indent: -9999px;
	@include settings(null, hidden);
}
.bold {
	font-weight: bold;
}
.italic {
	font-style: italic;
}
.underline {
	text-decoration: underline;
}
.uppercase {
	text-transform: uppercase;
}
.lowercase {
	text-transform: lowercase;
}