#RewriteEngine on
#RewriteCond %{HTTP_HOST} ^www.example.com [NC]
#RewriteRule ^(.*)$ http://example.com/$1 [L,R=301,NC]

AddHandler php5-script .php

AddType image/svg+xml svg
AddType image/svg+xml svgz